{{#each  myAccountInfo}}
    <h1 class="title">My Account</h1>
    <ul>
        <li class="account_list">First Name: {{first_name}}</li>
        <li class="account_list">Last Name: {{last_name}}</li>
        <li class="account_list">User Name: {{user_name}}</li>
        <li class="account_list">Email: {{email}}</li>
        <li class="account_list">Cooking Experience: {{cooking_experience}}</li>
    </ul>
    <h2>Recipes contributed</h2>
    <ul>
        {{#each recipe}}
        <li class="account_list">{{recipe_name}}
        {{/each}}
    </ul>
    <a href="./update_account" class="link">Update Account</a><br>
    <a href="../index.html" class ="link">Back to home page</a>
{{/each}}
