<h1 class = "title">{{recipe.0.name}}</h1>
<h2>Ingredients</h2>
<ul>
    {{#each ../ingredients}}
    <li>{{ingredient_name}}, {{ingredient_quantity}}</li>
    {{/each}}
</ul>

<h2>Cookware</h2>
<table>
    <thead>
	    <th>name</th>
	    <th>price</th>
    </thead>
    {{#each ../cookware}}
    <tr>
	    <td>{{cookware_name}}</td>
	    <td>{{cost}}</td>
    </tr>
    {{/each}}
</table> 
<h2>Instructions</h2>
<p>{{recipe.0.instructions}}</p>
<form name="contributorForm" action="./contibutor" method="POST">
    <input type="hidden" name="id" value="{{recipe.0.user_id}}">
    <h2>Contributor: <a href="/contributor/{{recipe.0.user_id}}">{{recipe.0.first_name}} {{recipe.0.last_name}}</a></h2>
</form>
<h4>Date Contriuted: {{recipe.0.date_contributed}}</h4>
<h4>Meal Type: {{recipe.0.meal_type}}</h4>
<h4>Ethnic Cuisine: {{recipe.0.ethnic_cuisine}}</h4>

<a href=nutrition.handlebars class="link">Recipe nutrition information</a><br>
<a href="../" class="link ">Back to home page</a>

<h2>Comments</h2>
<h3>Submit Comment:</h3>
<form action="../submitRecipeComment" method="POST">
    <input type="text" name="comment" height="700px">
    <input type="hidden" name="recipe_id" value="{{rid}}">
    <input type="submit" value="Submit">
</form>
<ul>
    {{#each comments}}
        <li><a href="/contributor/{{comment_writer_id}}">{{comment_writer}}: </a><p>{{recipe_comment}}</p>
        {{#if userBool}}
            <form action="../deleteRecipeComment" method="POST">
                <input type="hidden" name="commentId" value="{{comment_id}}">
                <input type="hidden" name="recipeId" value="{{recipeId}}">
                <input type="submit" value="delete" class="link_button">
            </form>
            {{#if update_comment}}
                <form action="../updateRecipeComment" method="POST">
                    <input type="hidden" name="commentId" value="{{comment_id}}">
                    <input type="hidden" name="recipeId" value="{{recipeId}}">  
                    <input type="text" name="comment">
                    <input type="submit" name="submit update">
                </form>
            {{else}}
                <form action="../loadUpdateRecipeComment" method="POST">
                    <input type="hidden" name="commentId" value="{{comment_id}}">
                    <input type="hidden" name="recipeId" value="{{recipeId}}">
                    <input type="submit" value="update comment" class="link_button">
                </form>
            {{/if}}
        {{/if}}
        </li>
    {{/each}}
</ul>