<body>
    <h1 class="title">Create Account<h1>
    <form action="./updateAccount" method="POST">
        <span class="label">First Name:</span class="label">
        <input type="text" name="first_name" value={{first_name}}><br>
        <span class="label">Last Name:</span class="label">
        <input type="text" name="last_name" value={{last_name}}><br>
        <span class="label">User Name:</span class="label">
        <input type="text" name="user_name" value={{user_name}}><br>
        <span class="label">Password:</span class="label">
        <a href="updatePassword.html">update password</a><br>
        <span class="label">e-mail:</span class="label">
        <input type="text" name="email" value={{email}}><br>
        <span class="label">Cooking Experience:</span class="label">
        <input type="text" name="cooking_experience" value={{cooking_experience}}><br>
        <input type="submit" value="submit">
        <br>
    </form>
    <a href="my_account" class="link">back to My Account<a>
    <br>
    <a href="index.html" class="link">home page</a>
</body>

